<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Loan Calculator Result</title>
</head>
<body>
<h2>Loan Calculation Result</h2>
<p>Monthly Payment: <span th:text="${monthlyPayment}"></span></p>
</body>
</html>